$color-primary: #d87d4a;
$color-primary-light: #fbaf85;
$color-black-1: #000000;
$color-black-2: #0e0e0e;
$color-black-3: #101010;
$color-black-hover: #4c4c4c;
$color-gray: #979797;
$color-gray-light: #f1f1f1;
$color-gray-superLight: #fafafa;
$color-white: #ffffff;
