.categories {
  max-width: 110rem;
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-top: 16rem;

  &__card {
    background-color: #f1f1f1;
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    border-radius: 0.7rem;
  }
  &__img {
    position: absolute;
    height: 16rem;
    top: -27%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  &__heading {
    margin-top: 10rem;
  }
}
