@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.mr-xs-t {
  margin-top: 1.6rem; }

.mr-m-t {
  margin-top: 7.9rem; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes headerAnimation {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: inherit; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

button {
  border: none;
  cursor: pointer;
  background-color: transparent; }

ul {
  list-style-type: none; }

.heading, .heading__1, .heading__2, .heading__3, .heading__4, .heading__5, .heading__6 {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.heading__1 {
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 0.2rem; }

.heading__2 {
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 0.15rem; }
  .heading__2 span {
    color: #d87d4a; }

.heading__3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: 0.115rem; }

.heading__4 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.2rem; }

.heading__5 {
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: 0.17rem; }

.heading__6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.13rem; }

.overline {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem; }
  .overline--white {
    display: block;
    color: white;
    opacity: 0.5; }
  .overline--primary {
    color: #d87d4a; }

.sub-title, .btn__text, .btn__text--with-arrow, .categories__btn {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem; }

.text, .box__item {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white; }
  .text--black {
    color: #000000; }
  .text--gray-dark {
    color: #00000080; }
  .text--gray {
    color: rgba(255, 255, 255, 0.502); }

.c-white {
  color: white; }

.btn__primary {
  width: 16rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  z-index: 2;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: white;
  transition: all 0.3s; }
  .btn__primary--orange {
    background-color: #d87d4a;
    color: white; }
    .btn__primary--orange:hover {
      background-color: #fbaf85;
      color: white; }
  .btn__primary--transparent {
    background-color: transparent;
    color: #0d0d0d;
    border: 1px solid #0d0d0d; }
    .btn__primary--transparent:hover {
      background-color: #0d0d0d;
      color: white; }
  .btn__primary--black {
    background-color: #000000;
    color: white; }
    .btn__primary--black:hover {
      background-color: #4d4d4d;
      color: white; }

.btn__text, .btn__text--with-arrow {
  border: none;
  background-color: none;
  color: #000000;
  font-weight: 700;
  opacity: 0.5;
  position: relative;
  transition: all 0.3s; }
  .btn__text:hover, .btn__text--with-arrow:hover {
    color: #d87d4a; }
  .btn__text--with-arrow::after {
    position: absolute;
    top: 25%;
    left: 120%;
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../assets/shared/desktop/icon-arrow-right.svg) no-repeat; }

.categories__btn {
  border: none;
  background-color: none;
  color: #000000;
  font-weight: 700;
  opacity: 0.5;
  position: relative;
  transition: all 0.3s; }
  .categories__btn:hover {
    color: #d87d4a; }
  .categories__btn::after {
    position: absolute;
    top: 25%;
    left: 120%;
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../assets/shared/desktop/icon-arrow-right.svg) no-repeat; }

.quantity__btn-group {
  display: flex;
  gap: 1.6rem; }

.quantity__input-group {
  display: grid;
  width: 12rem;
  height: 4.8rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  border-radius: 0.2rem; }

.quantity__input {
  width: 100%;
  border: none;
  text-align: center;
  background-color: inherit;
  font-weight: 700; }

.quantity__btn {
  color: #000000;
  font-weight: 700;
  font-size: 1.4rem;
  opacity: 0.25;
  transition: all 0.3s; }
  .quantity__btn:hover {
    color: #d87d4a;
    opacity: 1; }

.go-back__btn {
  position: absolute;
  top: -7.6rem;
  left: 0; }

.zigzag {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  align-items: center;
  position: relative; }
  .zigzag__card {
    height: 56rem;
    display: flex;
    align-items: center;
    gap: 12.5rem; }
  .zigzag__image {
    object-fit: cover;
    width: 54rem;
    height: 100%;
    border-radius: 0.8rem; }
  .zigzag__title {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 44.5rem; }

.main {
  max-width: 111rem;
  margin: 0 auto; }
  .main__products, .main__pages {
    display: flex;
    flex-direction: column;
    gap: 16rem; }

.header {
  width: 100%;
  background-color: #0d0d0d; }
  .header__home {
    display: flex;
    justify-content: center;
    height: 75rem; }
  .header__categories {
    display: flex;
    justify-content: center;
    height: 33.5rem; }
  .header__container {
    display: grid;
    grid-template-columns: 111rem;
    grid-template-rows: 9.6rem 1fr; }
  .header__products {
    display: flex;
    justify-content: center;
    height: 9.6rem; }

.home-banner {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative; }
  .home-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/home/desktop/hero-MAIN.jpeg");
    background-position: 45rem 0;
    background-repeat: no-repeat;
    animation: headerAnimation 3s ease-out;
    z-index: 1; }
  .home-banner__title {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    animation: moveInRight 3s ease-out; }
  .home-banner__text {
    max-width: 35rem; }

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d0d0d;
  width: 100%;
  color: #fff; }
  .navbar__header {
    height: 9.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .navbar__list {
    display: flex;
    gap: 3.4rem;
    align-items: center; }
  .navbar__link {
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    color: white;
    transition: all 0.3s; }
    .navbar__link:hover {
      color: #d87d4a; }

.footer {
  width: 100%;
  height: 36.5rem;
  margin-top: 20rem;
  background-color: #0d0d0d; }
  .footer__container {
    max-width: 111rem;
    margin: 0 auto;
    padding-top: 7.5rem;
    position: relative; }
    .footer__container::before {
      content: "";
      width: 10rem;
      height: 0.4rem;
      background-color: #d87d4a;
      position: absolute;
      top: 0;
      left: 0; }
  .footer__grid {
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .footer__text {
    width: 54rem;
    display: flex;
    flex-direction: column;
    gap: 5.6rem; }
  .footer__social {
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem; }
  .footer__icon {
    cursor: pointer; }
    .footer__icon:hover {
      filter: invert(59%) sepia(70%) saturate(549%) hue-rotate(329deg) brightness(95%) contrast(90%); }

.section__categories {
  max-width: 111rem;
  display: flex;
  gap: 3rem;
  margin: 0 auto; }
  .section__categories--main {
    margin-top: 20rem; }

.section__products {
  margin-top: 16.8rem;
  display: grid;
  grid-template-rows: 56rem 32rem 32rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4.8rem;
  grid-column-gap: 3rem; }

.section__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 59rem;
  gap: 12.5rem;
  align-items: center; }
  .section__about--main {
    margin-top: 20rem; }

.section__features {
  display: grid;
  grid-template-columns: 63.5rem 35rem;
  gap: 12.5rem;
  height: 32rem; }

.section__product-gallery {
  display: grid;
  height: 59rem;
  grid-template-columns: 45rem 63.5rem;
  grid-template-rows: repeat(2, 28rem);
  grid-row-gap: 3.2rem;
  grid-column-gap: 3rem;
  transition: all 0.3s; }
  .section__product-gallery:hover .product-gallery__img:not(:hover) {
    transform: scale(0.95); }

.section__product-suggestions {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: min-content 47rem;
  grid-column-gap: 3rem;
  grid-row-gap: 6.4rem; }

.categories__card {
  background-color: #f1f1f1;
  width: 35rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  border-radius: 0.8rem; }

.categories__img {
  position: absolute;
  height: 16rem;
  top: -27%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.categories__heading {
  margin-top: 10rem; }

.product__zb9 {
  grid-area: 1/1/2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  background-color: #d87d4a;
  height: 56rem;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -15rem -5rem;
  border-radius: 0.8rem; }

.product__zx7 {
  grid-area: 2/1/3/4;
  background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-position: -1rem 0;
  height: 32rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem; }

.product__yx1 {
  grid-area: 3/2/4/4;
  background-color: #f2f2f2;
  display: flex;
  align-items: center; }

.product__img-zb9 {
  height: 48rem;
  position: absolute;
  top: 9rem;
  left: 11.7rem;
  position: relative; }

.product__img-yx1 {
  grid-area: 3/1/4/2; }

.product__title-zb9 {
  width: 35rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }

.product__title-zx7, .product__title-yx1 {
  margin-left: 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }

.about__title {
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }

.about__img {
  border-radius: 0.8rem; }

.features__text, .features__box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }

.box__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; }

.box__item {
  color: #00000080;
  display: flex;
  gap: 2.1rem; }

.box__quantity {
  color: #d87d4a; }

.product-gallery__img {
  border-radius: 0.8rem;
  transition: all 0.3s; }
  .product-gallery__img:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 6rem black; }
  .product-gallery__img--1 {
    grid-area: 1/1/2/2; }
  .product-gallery__img--2 {
    grid-area: 2/1/3/2; }
  .product-gallery__img--3 {
    grid-area: 1/2/3/3; }

.suggestion {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center; }
  .suggestion__title {
    grid-area: 1/1/2/4;
    text-align: center; }
  .suggestion__1 {
    grid-area: 2/1/3/2; }
  .suggestion__2 {
    grid-area: 2/2/3/3; }
  .suggestion__3 {
    grid-area: 2/3/3/4; }
  .suggestion__image {
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 0.8rem; }
